*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Monospace;
    box-sizing: border-box;
}
button#submit{
    border-radius: 5px;
    background-color: #ACEED7;
}
button#submit:hover{
    background-color: #298062;
}
th {
    margin: 10px;
  }
  